<div class="codebin-area row">
  <center>
    <a class="btn btn-lg btn-primary" href="/snippets/new">+ New Snippet</a>
    <br> <br>
    <% @snippets.each do |snippet| %>
    <div class="row well" style="width: 50%">
        <%= link_to "Snippet #{snippet.id} #{snippet.name}", snippet %>
    </div>
    <% end %>
  </center>
</div>