<div class="codebin-area row">
  <div id="snippet-wrapper" class="col-md-7">
    <%= render 'form' %>
  </div>
  <div id="output-wrapper" class="col-md-5">
    <div class="output-area">
    </div>
  </div>
  <!--
  <div class="col-md-2">
    <% @snippets.each do |snippet| %>
        <%= link_to 'Show', snippet %>
        <%= link_to 'Edit', edit_snippet_path(snippet) %>
        <%= link_to 'Destroy', snippet, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </div>
  -->
</div>

