<div class="codebin-area row">
  <div id="snippet-wrapper" class="col-md-7">
    <%= render 'form' %>
  </div>
  <div id="output-wrapper" class="col-md-5">
    <div class="output-area">
      <%- if @snippet.container %>
      <pre><%= "#{@snippet.container.output}" %></pre>
      <% end %>

    </div>
  </div>
</div>