// Place all the styles related to the Snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.codebin-area {
  margin: 50px 0px;

  label {
    color: #fff;
    font-size: 14px;
    margin: 0px 5px;
  }

  input {
    font-size: 14px;
  }
  input[type=text] {
    padding: 3px 5px;
  }
}

#snippet-wrapper {
  min-height: 400px;

  .CodeMirror {
    height: 500px;
    font-size: 14px;
    border: 1px solid #d8d8d8;
  }

  .CodeMirror-lines {
    padding: 8px 0px;
  }

  .header {
    background-color: #74cfae;
    padding: 5px;
  }

  .actions {
    margin: 20px 0px;
  }
}

#output-wrapper {
  height: 300px;
}

.output-area {
  background-color: #4e4e4e;
  height: 100%;

  pre {
    color: #fff;
    background: #4e4e4e;
    border: 0px;
  }
}

img.dp {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  margin-right: 10px;
}